<h2 class="page-header"> Teokset </h2>
<p> Tervetuloa Koijarin Unelmaan! </p>

<div id="modalImgDiv" class="modal">
    <span class="close">&times;</span>
    <img class="modalImgContent" id="modalImg">
</div>

{{#each images}}

	<div class="image">

		<h3> {{name}} </h3>	
		<p> {{email}} </p>
		<img class="image" src="{{imgPath}}" style="height:150px; width:150px;">

	</div>

{{/each}}

<script src="js/jquery-3-2-1-min.js"></script>
<script src="js/script.js"></script>
