<h2> Rekisteröidy </h2>

{{! Validoinnin virhe-flashviestit }}

{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger"> {{msg}} </div>
	{{/each}}
{{/if}}

<form method="post" action="/users/register">

	<div class="form-group">
		<label> Nimi </label>
		<input type="text" class="form-control" placeholder="Nimi" name="name">
	</div>

	<div class="form-group">
		<label> Käyttäjänimi </label>
		<input type="text" class="form-control" placeholder="Käyttäjänimi" name="username">
	</div>

	<div class="form-group">
		<label> Sähköposti </label>
		<input type="text" class="form-control" placeholder="Sähköposti" name="email">
	</div>

	<div class="form-group">
		<label> Salasana </label>
		<input type="password" class="form-control" placeholder="Salasana" name="password">
	</div>

	<div class="form-group">
		<label> Vahvista salasana </label>
		<input type="password" class="form-control" placeholder="Salasana" name="password2">
	</div>

	<button type="submit" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-ok"></span> Rekisteröidy </button>
</form>
